body {
  background-color: #fdf;
}

h1 {
  text-align: center;
}

h2, h3, h4, h5, h6 {
  text-align: left;
}
p {
  text-align: center;
}

.container {
  padding-left: 20px;
  padding-top: 5vh;
  padding-right: 20px;
}

img {
  width: 200px;
  height: 120px;
}
div .img {
  text-align: center;
}



div .topic{
  padding-bottom: 5vh;
  border:1px solid black;
}

